<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo das Bandeiras</title>
    <link rel="stylesheet" href="/css/normal.css">
</head>
<body>
    <div class="main-content">
        <div class="scoreboard">
            <span id="error-count">Erros restantes: <%= errorCount %></span>
            <span id="correct-answers">Acertos: <%= correctAnswers %></span>
        </div>

        <div class="flag-container">
            <img src="<%= flag.image %>" alt="Bandeira do estado" class="flag-image">
            
            <form action="/modosDoJogo/normal" method="POST">
                <input type="hidden" name="correctState" value="<%= flag.state %>">
                <div class="options">
                    <% options.forEach(function(option) { %>
                        <button type="submit" name="selectedOption" value="<%= option %>" class="option-button">
                            <%= option %>
                        </button>
                    <% }) %>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/normal.js"></script>
</body>
</html>
